In [83]:
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
## Fundamental Data Analysis
funda_data = pd.read_csv('Fundamental_data.csv')
funda_data.columns

In [ ]:
funda_data = funda_data.drop(columns=['public_date',"pcf",'staff_sale','PEG_trailing','gvkey','permno','adate'])
funda_data = funda_data.drop_duplicates()

In there, we delete the unuseful columns named pulic_date, pcf, staff_sale, peg_trailing, gvkey, permno and drop the duplicates for each rows. We also delete the adate data out of the purpose to delete the unuseful information here. Finally, we gonna use the qdate to be the corresponding time to mark the ticker.

### Daily Indicators

In [15]:
for name in pd.unique(funda_data.TICKER).tolist():
    funda_stock = funda_data.loc[funda_data['TICKER'] == name,:]

MSFT
nan
FB
AAPL
BRK
JNJ
AMZN
NVDA
GOOG
GOOGL
V
TSLA

In [16]:
funda_data.loc[funda_data['TICKER'] == 'TSLA',:]

,qdate,dpr,npm,gpm,roa,roe,capital_ratio,de_ratio,cash_ratio,curr_ratio,inv_turn,pay_turn,sale_nwc,rd_sale,accrual,TICKER
1051,06/30/2010,NaN,-0.855,0.248,-0.552,NaN,0.402,2.682,0.964,1.572,3.144,15.549,3.208,0.336,-0.060,TSLA
1054,09/30/2010,NaN,-1.284,0.312,-0.768,NaN,0.287,1.344,1.427,2.091,2.257,15.549,1.426,0.641,-0.049,TSLA
1057,12/31/2010,NaN,-1.322,0.354,-0.527,NaN,0.259,0.865,2.024,2.757,2.204,4.421,0.777,0.797,-0.103,TSLA
1060,03/31/2011,NaN,-1.199,0.393,-0.600,-0.484,0.315,1.157,1.631,2.359,2.134,3.362,1.268,0.834,-0.103,TSLA
1063,06/30/2011,NaN,-1.111,0.406,-0.558,-0.811,0.280,0.910,2.046,2.759,2.186,3.158,0.977,0.904,-0.117,TSLA
1066,09/30/2011,NaN,-1.115,0.398,-0.460,-0.951,0.345,1.103,1.996,2.630,2.427,2.761,1.004,0.922,-0.205,TSLA
1069,12/31/2011,NaN,-1.246,0.384,-0.427,-2.271,0.548,2.184,1.588,1.949,2.640,3.070,1.125,1.023,-0.255,TSLA
1072,03/31/2012,NaN,-1.593,0.385,-0.446,-1.142,0.489,1.764,1.737,2.169,2.182,2.052,0.881,1.274,-0.270,TSLA
1075,06/30/2012,NaN,-2.223,0.375,-0.458,-1.341,0.628,3.020,1.328,1.684,1.739,1.719,1.037,1.680,-0.253,TSLA
1078,09/30/2012,NaN,-2.651,0.238,-0.493,-2.112,0.777,6.424,0.844,1.213,1.346,2.451,2.501,1.821,-0.206,TSLA
1081,12/31/2012,NaN,-0.959,0.143,-0.400,-2.272,0.767,7.935,0.410,0.973,2.225,3.186,NaN,0.663,-0.142,TSLA
1084,03/31/2013,NaN,-0.312,0.168,-0.310,-2.598,0.833,10.733,0.454,0.946,4.297,4.567,NaN,0.276,-0.155,TSLA
1087,06/30/2013,NaN,-0.166,0.206,-0.163,-1.856,0.670,4.537,0.672,1.266,4.570,4.804,9.487,0.180,-0.079,TSLA
1090,09/30/2013,NaN,-0.087,0.237,-0.046,-0.480,0.500,3.245,0.731,1.245,4.690,5.078,11.823,0.136,-0.152,TSLA
1093,12/31/2013,NaN,-0.037,0.279,0.025,-0.185,0.473,2.623,1.257,1.875,4.767,5.015,3.408,0.115,-0.188,TSLA
1096,03/31/2014,NaN,-0.065,0.312,0.017,-0.265,0.509,2.957,1.329,1.808,4.089,5.264,2.740,0.125,-0.161,TSLA
1099,06/30/2014,NaN,-0.068,0.325,0.018,-0.239,0.573,3.567,1.431,1.879,3.789,5.572,2.294,0.129,-0.142,TSLA
1102,09/30/2014,NaN,-0.071,0.342,0.022,-0.260,0.630,3.989,1.546,2.040,3.511,5.153,1.997,0.138,-0.092,TSLA
1105,12/31/2014,NaN,-0.092,0.348,0.011,-0.358,0.666,5.352,0.913,1.518,3.222,4.988,2.930,0.145,-0.057,TSLA
1108,03/31/2015,NaN,-0.113,0.356,0.004,-0.425,0.665,4.973,1.105,1.675,2.700,4.411,2.701,0.156,-0.028,TSLA
1111,06/30/2015,NaN,-0.141,0.348,-0.015,-0.569,0.680,5.679,0.823,1.421,2.431,4.135,4.129,0.169,-0.020,TSLA
1114,09/30/2015,NaN,-0.178,0.347,-0.031,-0.791,0.659,5.533,0.658,1.272,2.193,3.883,6.038,0.176,-0.015,TSLA
1117,12/31/2015,NaN,-0.220,0.333,-0.042,-0.846,0.652,6.393,0.433,0.991,2.420,3.570,NaN,0.177,-0.052,TSLA
1120,03/31/2016,NaN,-0.239,0.333,-0.051,-1.031,0.666,6.328,0.485,1.065,2.230,3.497,23.748,0.172,-0.050,TSLA
1123,06/30/2016,NaN,-0.246,0.344,-0.043,-1.101,0.601,5.054,0.601,1.155,2.186,3.509,9.570,0.163,-0.092,TSLA
1126,09/30/2016,NaN,-0.147,0.362,0.011,-0.593,0.565,4.646,0.654,1.184,2.612,3.521,9.286,0.131,-0.119,TSLA
1129,12/31/2016,NaN,-0.096,0.364,0.020,-0.229,0.560,3.524,0.600,1.074,2.663,3.777,16.174,0.119,-0.036,TSLA
1132,03/31/2017,NaN,-0.085,0.372,0.041,-0.265,0.550,3.655,0.701,1.188,2.862,3.777,9.137,0.114,-0.048,TSLA
1135,06/30/2017,NaN,-0.076,0.375,0.043,-0.205,0.567,3.702,0.610,1.093,3.020,3.603,19.013,0.114,-0.024,TSLA
1138,09/30/2017,NaN,-0.131,0.345,0.013,-0.321,0.607,3.935,0.575,1.065,3.063,3.645,26.423,0.118,-0.017,TSLA
1141,12/31/2017,NaN,-0.167,0.328,0.003,-0.436,0.691,5.433,0.459,0.856,3.648,3.810,NaN,0.117,-0.074,TSLA
1144,03/31/2018,NaN,-0.188,0.296,-0.011,-0.492,0.655,4.645,0.448,0.899,3.608,3.750,NaN,0.114,-0.072,TSLA
1147,06/30/2018,NaN,-0.199,0.272,-0.018,-0.588,0.684,5.151,0.387,0.837,3.750,4.169,NaN,0.106,-0.087,TSLA
1150,09/30/2018,NaN,-0.102,0.280,0.021,-0.414,0.687,5.299,0.335,0.782,4.404,4.636,NaN,0.084,-0.112,TSLA
1153,12/31/2018,NaN,-0.045,0.276,0.056,-0.213,0.658,4.758,0.388,0.831,5.777,5.654,NaN,0.069,-0.105,TSLA
1156,03/31/2019,NaN,-0.043,0.270,0.063,-0.218,0.688,5.147,0.307,0.802,4.858,5.354,NaN,0.064,-0.099,TSLA
1159,06/30/2019,NaN,-0.026,0.261,0.082,-0.147,0.682,4.781,0.373,0.883,5.406,5.529,NaN,0.053,-0.119,TSLA
1162,09/30/2019,NaN,-0.034,0.254,0.074,-0.168,0.679,4.526,0.433,0.952,5.240,5.580,NaN,0.054,-0.100,TSLA

### Weekly Indicators

##  MarcoEconomic Anslysis

In [84]:
macro = pd.read_csv("macro_data_1.csv")
macro = macro.loc[macro.datadate < '2020-02-01']

#macro.to_csv("macro_data.csv",index=0)

### 3. Macroeconomic Data
- REAL_GDP: annual data type 
- REAL_GDP_PER_CAPITA: quarterly data type 
- TREASURY_YIELD: short time(3-month: risk free rate)/ long time (30 years) 
- FEDERAL_FUNDS_RATE: Board of Governors of the Federal Reserve System (US), Federal Funds Effective Rate, retrieved from FRED, Federal Reserve Bank of St. Louis
- CPI: monthly data 
- INFLATION: annual data 
- UNEMPLOYMENT: The unemployment rate represents the number of unemployed as a percentage of the labor force.  
- NONFARM_PAYROLL: the monthly US All Employees, a measure of the number of U.S. workers in the economy that excludes proprietors, private household employees, unpaid volunteers, farm employees, and the unincorporated self-employed.

In [94]:
def moving_normal(series,win):
    new = (series - series.rolling(window=win).min())/(series.rolling(window=win).max() - series.rolling(window=win).min())
   
    return new

In [95]:
macro_columns = ['datadate','gdp','gdpr1','gdpr2','cpi','bond20yr','bond30yr','fedfunds','cpir','wpir','unemp','employ']
macro_use = macro[macro_columns]
stock_list = ['AAPL','MSFT','GOOG','AMZN','NVDA','BRK-B','TSLA','META','JNJ','V']
macro_use.iloc[:,2:3].apply(lambda x: moving_normal(x, win=4),axis=0).head(40)

    gdpr1
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    1.0
13    1.0
14    1.0
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    1.0
25    1.0
26    1.0
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    1.0
37    1.0
38    1.0
39    NaN

### Fill with 0

In [ ]:
AAPL = pd.read_csv("../stock_price/Daily/AAPL.csv")
AAPL = pd.merge(AAPL[['Date','adjusted_close']],macro_use, left_on='Date', right_on='datadate',how='outer')
AAPL.loc[AAPL.Date.isna(),'Date'] = AAPL.loc[AAPL.Date.isna(),'datadate']
AAPL = AAPL.sort_values(by='Date').drop('datadate',axis=1)
macro_list = ['gdp','gdpr1','gdpr2','cpi','bond20yr','bond30yr','fedfunds','cpir','wpir','unemp','employ']

AAPL.loc[:,macro_list] = AAPL.loc[:,macro_list].bfill()
AAPL.head(40)

In [50]:
import os
import sys

if not os.path.isdir('Macro'):
    os.mkdir('Macro')
if not os.path.isdir('Macro/Daily'):
    os.mkdir('Macro/Daily')
if not os.path.isdir('Macro/Weekly'):
    os.mkdir('Macro/Weekly')

if not os.path.isdir('Macro/Monthly'):
    os.mkdir('Macro/Monthly')


macro_bfill_daily = {}


for stock in stock_list:
    stock_df = pd.read_csv("../encode_price/Daily/"+stock+".csv")
    stock_df = pd.merge(stock_df[['Date','5. adjusted close']],macro_use, left_on='Date', right_on='datadate',how='outer')
    stock_df.loc[stock_df.Date.isna(),'Date'] = stock_df.loc[stock_df.Date.isna(),'datadate']
    stock_df = stock_df.sort_values(by='Date').drop('datadate',axis=1)
    stock_df.rename(columns={"5. adjusted close":"adjusted_close"},inplace=True)
    stock_df.loc[:,macro_list] = stock_df.loc[:,macro_list].bfill()
    macro_bfill_daily[stock] = stock_df
    stock_df.dropna(subset=['adjusted_close'],inplace=True)
    stock_df.to_csv("Macro/Daily/"+stock+".csv",index=0)

In [ ]:
macro_bfill_daily['AAPL'].head(40)

In [52]:
macro_bfill_weekly = {}

for stock in stock_list:
    stock_df = pd.read_csv("../stock_price/Weekly/"+stock+".csv")
    stock_df = pd.merge(stock_df[['Date','adjusted_close']],macro_use, left_on='Date', right_on='datadate',how='outer')
    stock_df.loc[stock_df.Date.isna(),'Date'] = stock_df.loc[stock_df.Date.isna(),'datadate']
    stock_df = stock_df.sort_values(by='Date').drop('datadate',axis=1)
    stock_df.rename(columns={"5. adjusted close":"adjusted_close"},inplace=True)
    stock_df.loc[:,macro_list] = stock_df.loc[:,macro_list].bfill()
    stock_df.dropna(subset=['adjusted_close'],inplace=True)
    macro_bfill_weekly[stock] = stock_df
    stock_df.to_csv("Macro/Weekly/"+stock+".csv",index=0)

In [57]:
macro_bfill_monthly = {}

for stock in stock_list:
    stock_df = pd.read_csv("../stock_price/Monthly/"+stock+".csv")
    stock_df = pd.merge(stock_df[['Date','adjusted_close']],macro_use, left_on='Date', right_on='datadate',how='outer')
    stock_df.loc[stock_df.Date.isna(),'Date'] = stock_df.loc[stock_df.Date.isna(),'datadate']
    stock_df = stock_df.sort_values(by='Date').drop('datadate',axis=1)
    stock_df.rename(columns={"5. adjusted close":"adjusted_close"},inplace=True)
    stock_df.loc[:,macro_list] = stock_df.loc[:,macro_list].bfill()
    macro_bfill_monthly[stock] = stock_df
    stock_df.dropna(subset=['adjusted_close'],inplace=True)
    stock_df.to_csv("Macro/Monthly/"+stock+".csv",index=0)

In [ ]:
macro_bfill_monthly['AAPL'].head(40)

### Technical Alpha Factor Generation
- SMA: simple moving average of closing price
- EMA: exponential moving average of closing price
- VWAP: the volume weighted average for intra
- MACD: the movign average convergence/divergence values
- STOCH: the stochastic oscillator values where here the close is in relation to the recent trading range
- RSI: the relative strength index (RSI) values, where calculates a ratio of the recent upward price movements to the absolute price movement
- MFI: the money flow index values - look for divergence with price to signal reversals. 
- SAR: returns the parabolic SAR values
- AD: The Accumulation/Distribution Line is similar to the On Balance Volume (OBV), which sums the volume times +1/-1 based on whether the close is higher than the previous close.The Accumulation/Distribution Line is interpreted by looking for a divergence in the direction of the indicator relative to price. If the Accumulation/Distribution Line is trending upward it indicates that the price may follow. Also, if the Accumulation/Distribution Line becomes flat while the price is still rising (or falling) then it signals an impending flattening of the price.

In [8]:
from tech_indicators import *
import pandas as pd
if not os.path.isdir('Tech'):
    os.mkdir('Tech')
if not os.path.isdir('Tech/Daily'):
    os.mkdir('Tech/Daily')
if not os.path.isdir('Tech/Weekly'):
    os.mkdir('Tech/Weekly')

if not os.path.isdir('Tech/Monthly'):
    os.mkdir('Tech/Monthly')

stock_list = ['AAPL','MSFT','GOOG','AMZN','NVDA','BRK-B','TSLA','META','JNJ','V']

In [ ]:
AAPL = pd.read_csv("../stock_price/Daily/AAPL.csv")
df = AAPL.copy()
sma = calculate_sma(df, window=14)
ema = calculate_ema(df, window=14)
k, d = calculate_stoch(df)
rsi = calculate_rsi(df)
mfi = calculate_mfi(df)
sar = calculate_sar(df)
ad = calc_AD(df)

tech_Daily = pd.DataFrame({"Date":df.loc[:,"Date"],
              "SMA":sma,
              "EMA":ema,
              "STOCH_k":k,
              "STOCK_d":d,
              "RSI":rsi,
              "MFI":mfi,
              "SAR":sar,
              "AD":ad
              })

In [18]:
for stock in stock_list:
    stock_df = pd.read_csv("../stock_price/Daily/"+stock+".csv")
    df = stock_df.copy().sort_values(by="Date")
    sma = calculate_sma(df, window=14)
    ema = calculate_ema(df, window=14)
    k, d = calculate_stoch(df)
    rsi = calculate_rsi(df)
    mfi = calculate_mfi(df)
    sar = calculate_sar(df)
    ad = calc_AD(df)

    tech_Daily = pd.DataFrame({"Date":df.loc[:,"Date"],
              "SMA":sma,
              "EMA":ema,
              "STOCH_k":k,
              "STOCK_d":d,
              "RSI":rsi,
              "MFI":mfi,
              "SAR":sar,
              "AD":ad
              })
    tech_Daily.to_csv("Tech/Daily/"+stock+".csv",index=0)

In [19]:
for stock in stock_list:
    stock_df = pd.read_csv("../stock_price/Weekly/"+stock+".csv")
    df = stock_df.copy().sort_values(by="Date")
    sma = calculate_sma(df, window=5)
    ema = calculate_ema(df, window=5)
    k, d = calculate_stoch(df,k_window=5)
    rsi = calculate_rsi(df,period=5)
    mfi = calculate_mfi(df,period=5)
    sar = calculate_sar(df,lookback=5)
    ad = calc_AD(df)

    tech_Weekly = pd.DataFrame({"Date":df.loc[:,"Date"],
              "SMA":sma,
              "EMA":ema,
              "STOCH_k":k,
              "STOCK_d":d,
              "RSI":rsi,
              "MFI":mfi,
              "SAR":sar,
              "AD":ad
              })
    
    tech_Weekly.to_csv("Tech/Weekly/"+stock+".csv",index=0)

In [21]:
for stock in stock_list:
    stock_df = pd.read_csv("../stock_price/Monthly/"+stock+".csv")
    df = stock_df.copy().sort_values(by="Date")
    sma = calculate_sma(df, window=5)
    ema = calculate_ema(df, window=5)
    k, d = calculate_stoch(df,k_window=5)
    rsi = calculate_rsi(df,period=5)
    mfi = calculate_mfi(df,period=5)
    sar = calculate_sar(df,lookback=5)
    ad = calc_AD(df)

    tech_Monthly = pd.DataFrame({"Date":df.loc[:,"Date"],
              "SMA":sma,
              "EMA":ema,
              "STOCH_k":k,
              "STOCK_d":d,
              "RSI":rsi,
              "MFI":mfi,
              "SAR":sar,
              "AD":ad
              })
    
    tech_Monthly.to_csv("Tech/Monthly/"+stock+".csv",index=0)

### Merge Indicators

- Higham

In [48]:
## higham
def P_s(a, wh):
    # helper function for higham, the second projection
 
    a = wh.dot(a).dot(wh)
    vals, vecs = np.linalg.eigh(a)
    vals[np.where(vals < 0)] = 0
    a = vecs.dot(np.diag(vals)).dot(vecs.T)

    wh_inv = np.diag(1 / np.diagonal(wh))

    a = wh_inv.dot(a).dot(wh_inv)
    return a


def P_u(a):
    # helper function for higham, the first projection
    np.fill_diagonal(a, 1)
    return a


def higham_psd(a, tol=None, max_iter=100, weights=None):
    # higham nearest psd
    if tol is None:
        tol = np.spacing(1) * len(a)
    if weights is None:
        weights = np.ones(len(a))
    w_h = np.diag(np.sqrt(weights))
    Y = np.copy(a)
    ds = np.zeros(np.shape(a))
    for i in range(0, max_iter):
        norm_Y_pre = fro_norm(Y)
        R = Y - ds
        X = P_s(R, w_h)

        ds = X - R
        Y = P_u(X)
        norm_Y = fro_norm(Y)

        if -1 * tol < norm_Y - norm_Y_pre < tol:
            break
    return pd.DataFrame(Y)

def fro_norm(a):
    return np.sum(np.square(a))

In [74]:
def moving_normal(series,win):
    new = (series - series.rolling(window=win).mean())/series.rolling(window=win).std()
    return new

In [80]:
AAPL = pd.read_csv("Merged/Daily/AAPL.csv")
AAPL = AAPL.loc[(AAPL.Date<'2019-10-01')&(AAPL.Date>"2010-01-21")]
#AAPL.iloc[:,1:] = AAPL.iloc[:,1:].apply(lambda x:moving_normal(series=x,win=10),axis=0)
corr = AAPL.drop("Date",axis=1).corr()
higham = higham_psd(AAPL.drop("Date",axis=1).corr())

In [77]:
print(fro_norm(higham.values - corr.values))

1.6888769411126296e-28